extends layout

block content
	.container.dashboard-container
		ul#myTab.nav.nav-tabs.nav-justified
			li.active
				a(href='#home' data-toggle='tab') Home
				| &#x9;
			- if(status == 0) {
				li
					a(href='#uploaded' data-toggle='tab') Uploaded
					| &#x9;
			- }
			li
				a(href='#purchased' data-toggle='tab') Purchased
				| &#x9;
			li
				a(href='#rented' data-toggle='tab') Rented
				| &#x9;
			li
				a(href='#queued' data-toggle='tab') Queued
				| &#x9;
			li
				a(href='#favorited' data-toggle='tab') Favorited
				| &#x9;
			li
				a(href='#following' data-toggle='tab') Following
				| &#x9;
			li
				a(href='#settings' data-toggle='tab') Settings
		|  
		.tab-content.dashboard-content
			#home.tab-pane.fade.active.in
				.tab-container
					include ./account_tabs/home_tab.jade
			| &#x9;
			- if(status == 0) {
				#uploaded.tab-pane.fade
					.tab-container
						include ./account_tabs/upload_tab.jade
			- }
			#purchased.tab-pane.fade
				.tab-container
					include ./account_tabs/film_tab.jade
			| &#x9;
			#rented.tab-pane.fade Rented Films
			| &#x9;
			#queued.tab-pane.fade Queued Films
			| &#x9;
			#favorited.tab-pane.fade Favorited Films
			| &#x9;
			#following.tab-pane.fade
				.tab-container
					include ./account_tabs/following_tab.jade
			| &#x9;
			#settings.tab-pane.fade Settings
