doctype html
html(lang= "en")
  head
    title #{title} hed

    //main stylesheets
    link(href='/stylesheets/main.css', rel='stylesheet')
    //link(href='/stylesheets/theme.css' rel='stylesheet')

    //bootstrap stysheets
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')

    //film carousel css
    link(rel='stylesheet', href='/stylesheets/jquery.mThumbnailScroller.css')
  body(role= "document")
    div#wrapper
      //div#header
      nav#header.navbar.navbar-default.navbar-fixed-top
        .container
          // Brand and toggle get grouped for better mobile display
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
              span.sr-only Toggle navigation
              |         
              span.icon-bar
              |         
              span.icon-bar
              |         
              span.icon-bar
            |       
            a.navbar-brand(href='/') Expose Your Films
          // Collect the nav links, forms, and other content for toggling
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            form.navbar-form.navbar-left(role='search')
              .form-group
                input.form-control(type='text', placeholder='Search Title')
              |         
              button.btn.btn-default(type='submit') Search
            |  
            ul.nav.navbar-nav      
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                  | Genres 
                  span.caret
                |           
                ul.dropdown-menu(role='menu')
                  li
                    a(href='#') Browse All
                  |             
                  li.divider
                  |             
                  li
                    a(href='#') Genre One
                  |             
                  li
                    a(href='#') Genre Two
                  |             
                  li
                    a(href='#') Genre Three
            |            
            ul.nav.navbar-nav.navbar-right
              if user
                li 
                  p.navbar-text Logged in as 
                    a(href="/account") #{user}
              else
                li
                  button.btn.btn-default.navbar-btn(type='button' onclick="location.href='/login'") Log In
                |         
                li
                  button.btn.btn-default.navbar-btn(type='button' onclick="location.href='/signup'") Sign Up
      div#content
        block content
      div#footer
        .subfooter
            .footer_content
              | &copy; 2014 Expose Your Media &middot; 
              a(href='/about') About Us
              |  | 
              a(href='/contact') Contact
              |  | 
              a(href='/terms') Terms &amp; Service
              |  | 
              a(href='/rating') Rating System
              |  | 
              a(href='/faq') FAQ
    //main jquery script
    script(src='/javascripts/jquery-2.1.3.min.js')
    //script(src='/node-modules/angular/angular.js')

    //used for bootstrap plugins like the banner
    script(src='/javascripts/bootstrap.min.js')

    //script for film carousel
    script(src='/javascripts/jquery.mThumbnailScroller.min.js')

    //scripts used for signing in
    script(src='/javascripts/forms.js')
    script(src='/javascripts/sha512.js')
    script(src='http://malsup.github.com/jquery.form.js')
    script(src='/javascripts/dropzone.js')
    script(type='text/javascript').
      $(document).ready(function() {
        'use strict';

        // Dropzone graphical tools
        // ======================
        var dropZone = $('#drop-zone-film');
        var startUpload = function(files) {
          console.log(files);
        }
        dropZone.ondrop = function(e) {
          e.preventDefault();
          this.className = 'upload-drop-zone';
          startUpload(e.dataTransfer.files);
        }
        dropZone.ondragover = function() {
          this.className = 'upload-drop-zone drop';
          return false;
        }
        dropZone.ondragleave = function() {
          this.className = 'upload-drop-zone';
          return false;
        }

        $('#film-upload-container').show();

        // Upload functionality tools
        // =====================
        $('#film-select').click(function(){
          console.log("Clicked button!!");
          $('#film-upload-file').click();
        });

        $('#film-upload-file').change(function(){
          if($('#film-upload-file')[0].value.length == 0){
              console.log("You clicked cancel!!");
            }else{
              console.log("You didn't clicked cancel!!");
              $('#film-form').ajaxSubmit({
                  data: { 'sub' : 'film'},
                  beforeSubmit: function(data, form, options){
                      console.log("...Starting to send form...");
                      $('#film-upload-container').slideUp("slow", function(){
                        $('#film-timeline').slideDown();
                        $('#trailer-upload-container').slideDown();
                      });
                  },
                  uploadProgress: function(e, position, total, percent){
                      console.log("Upload Process");
                      console.log("==============");
                      console.log("Position: " + position);
                      console.log("Total: " + total);
                      console.log("??: " + (position/total));
                      console.log("Percent: " + percent);
                      var realpercent = (position/total) * 100;
                      $('#film-upload-progress').css("width", realpercent + "%");
                  },
                  error: function(xhr) {
                    console.log('Error(Status): ' + xhr.status);
                  },
                  success: function(response) {
                      console.log("Success!!");
                      $('#film-upload-progress').css("saved", 1);
                  }
              });
            }
        });

        $('#trailer-select').click(function(){
          console.log("Clicked button!!");
          $('#trailer-upload-file').click();
        });

        $('#trailer-upload-file').change(function(){
          if($('#trailer-upload-file')[0].value.length == 0){
              console.log("You clicked cancel!!");
            }else{
              console.log("You didn't clicked cancel!!");
              $('#trailer-form').ajaxSubmit({
                  data: { 'sub' : 'trailer'},
                  beforeSubmit: function(data, form, options){
                      console.log("...Starting to send form...");
                      $('#trailer-upload-container').slideUp("slow", function(){
                        $('#trailer-timeline').slideDown();
                        $('#cover-upload-container').slideDown();
                      });
                  },
                  uploadProgress: function(e, position, total, percent){
                      console.log("Upload Process");
                      console.log("==============");
                      console.log("Position: " + position);
                      console.log("Total: " + total);
                      console.log("Percent: " + percent);
                      var realpercent = (position/total) * 100;
                      $('#trailer-upload-progress').css("width", realpercent + "%");
                  },
                  error: function(xhr) {
                    console.log('Error(Status): ' + xhr.status);
                  },
                  success: function(response) {
                      console.log("Success!!");
                      $('#trailer-upload-progress').css("saved", 1);
                  }
              });
            }
        });

        $('#cover-select').click(function(){
          console.log("Clicked button!!");
          $('#cover-upload-file').click();
        });

        $('#cover-upload-file').change(function(){
          if($('#cover-upload-file')[0].value.length == 0){
              console.log("You clicked cancel!!");
            }else{
              console.log("You didn't clicked cancel!!");
              $('#cover-form').ajaxSubmit({
                  data: { 'sub' : 'cover'},
                  beforeSubmit: function(data, form, options){
                      console.log("...Starting to send form...");
                      $('#cover-upload-container').slideUp("slow", function(){
                          $('#cover-timeline').slideDown();
                          $('#film-info-container').slideDown();
                      });
                  },
                  uploadProgress: function(e, position, total, percent){
                      console.log("Upload Process");
                      console.log("==============");
                      console.log("Position: " + position);
                      console.log("Total: " + total);
                      console.log("Percent: " + percent);
                      var realpercent = (position/total) * 100;
                      $('#cover-upload-progress').css("width", realpercent + "%");
                  },
                  error: function(xhr) {
                    console.log('Error(Status): ' + xhr.status);
                  },
                  success: function(response) {
                      console.log("Success!!");
                      $('#cover-upload-progress').css("saved", 1);
                  }
              });
            }
        });
      });