extends layout

block content
  .container.page-container             
    #signupbox.mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2(style='margin-top:50px')
      .panel.panel-success
        .panel-heading
          .panel-title Sign Up
        |   
        |                         
        .panel-body
          form#signupform.form-horizontal(role='form' action='/signup' method='post')
            if message.length > 0
              #signupalert.alert.alert-danger(style='')
                p Error: #{message}
                |                                     
                span
            else
              #signupalert.alert.alert-danger(style='display:none')
                p Error: #{message}
                |                                     
                span
            |                                     
            |                                 
            |                                   
            .form-group
              label.col-md-3.control-label(for='username') Username
              |                                     
              .col-md-9
                input.form-control(type='text', name='username', placeholder='Username')
            |                                                                    
            .form-group
              label.col-md-3.control-label(for='email') Email
              |                                     
              .col-md-9
                input.form-control(type='text', name='email', placeholder='Email Address')
            |                                     
            |                                 
            .form-group
              label.col-md-3.control-label(for='firstname') First Name
              |                                     
              .col-md-9
                input.form-control(type='text', name='firstname', placeholder='First Name')
            |                                 
            .form-group
              label.col-md-3.control-label(for='lastname') Last Name
              |                                     
              .col-md-9
                input.form-control(type='text', name='lastname', placeholder='Last Name')
            |                                 
            .form-group
              label.col-md-3.control-label(for='password') Password
              |                                     
              .col-md-9
                input.form-control(type='password', name='password', placeholder='Password')
            |                                     
            .form-group
              label.col-md-3.control-label(for='repassword') 
              |                                     
              .col-md-9
                input.form-control(type='password', name='repassword', placeholder='Confirm Password')
            |                                 
            .form-group
              label.col-md-3.control-label(for='icode') Invitation Code
              |                                     
              .col-md-9
                input.form-control(type='text', name='icode', placeholder='')
            |                                 
            .form-group
              label.col-md-3.control-label(for='icode') Membership
              |                                     
              .col-md-9
                .radio
                  label
                    input#optionsRadios1(type='radio', name='status', value='1', checked='')
                    | Basic
                .radio
                  label
                    input#optionsRadios2(type='radio', name='status', value='0')
                    | Filmmaker
            |                                 
            .form-group
              // Button
              .col-md-offset-3.col-md-9
                button#btn-signup.btn.btn-primary(type='submit')
                  i.icon-hand-right
                  | Sign Up
                |                                         
                span(style='margin-left:8px;') or 
                  a#signinlink(href='/login') Log In
            |                                 
            |                                 
            .form-group(style='border-top: 1px solid #999; padding-top:20px')
              .col-md-offset-3.col-md-9
                button#btn-fbsignup.btn.btn-primary(type='button')
                  i.icon-facebook
                  | Sign Up with Facebook
