extend layout

block content
  .container.page-container
    #film-upload-container.upload-container
      h3 Upload Film
      | 
      #drop-zone-film.upload-drop-zone
        form#film-form(method="post" action="/upload/film" enctype="multipart/form-data").well.drop-zone-container
          .drop-zone-content
            | Drag and drop files here
            br
            br
            | or choose a file 
            a#film-select.btn.btn-primary.btn-sm Select Film file
            input#film-upload-file(type="file" style="display:none" name="film_file")
            input#film-upload-submit(type="submit" style="display:none")
            input(type="hidden" name="saved" value="0")
    #film-timeline.timeline
      h4 Film Upload
        .progress.progress-striped.active
          #film-upload-progress.progress-bar
    #trailer-upload-container.upload-container
      h3 Upload Trailer
      | 
      #drop-zone-trailer.upload-drop-zone
        form#trailer-form(method="post" action="/upload/trailer" enctype="multipart/form-data").well.drop-zone-container
          .drop-zone-content
            | Drag and drop files here
            br
            br
            | or choose a file 
            a#trailer-select.btn.btn-primary.btn-sm Select Trailer file
            input#trailer-upload-file(type="file" style="display:none" name="trailer_file")
            input#trailer-upload-submit(type="submit" style="display:none")
            input(type="hidden" name="saved" value="0")
    #trailer-timeline.timeline
      h4 Trailer Upload
      .progress.progress-striped.active
        #trailer-upload-progress.progress-bar.progress-bar-success
    #cover-upload-container.upload-container
      h3 Upload Cover Art
      |   
      #drop-zone-cover.upload-drop-zone
        form#cover-form(method="post" action="/upload/cover" enctype="multipart/form-data").well.drop-zone-container
          .drop-zone-content
            | Drag and drop files here
            br
            br
            | or choose a file 
            a#cover-select.btn.btn-primary.btn-sm Select Cover Art file
            input#cover-upload-file(type="file" style="display:none" name="cover_file")
            input#cover-upload-submit(type="submit" style="display:none")
            input(type="hidden" name="saved" value="0")
    #cover-timeline.timeline
      h4 Cover Art Upload
      .progress.progress-striped.active
        #cover-upload-progress.progress-bar.progress-bar-warning
    form#film-info-container(method="post" action="/upload/info" ).form-horizontal.well.upload-container
        fieldset
            legend Film Information
            .form-group
                label.col-lg-2.control-label(for='inputTitle') Title
                .col-lg-10
                    input#inputEmail.form-control(type='text', placeholder='title of film' name="title")
            .form-group
                label.col-lg-2.control-label(for='inputRent') Rental Price
                .input-group
                    span.input-group-addon $
                    .col-lg-4
                        input.form-control(type='text' name="rent" placeholder='price to rent film')
                    .col-lg-2
                        span.input-group-addon
                            .checkbox
                                label
                                    input(type='checkbox' name="rent_check")
                                    | Remove rental functionality
            .form-group
                label.col-lg-2.control-label(for='inputPurchase') Purchase Price
                .input-group
                    span.input-group-addon $
                    .col-lg-4
                        input.form-control(type='text' name="purchase" placeholder='price to purchase film')
                    .col-lg-2
                        span.input-group-addon
                            .checkbox
                                label
                                    input(type='checkbox' name="puchase_check")
                                    | Remove purchase functionality
            .form-group
                label.col-lg-2.control-label(for='postDate') Release Date
                .col-lg-10
                    input(type="date" name="release_date")
            .form-group
                label.col-lg-2.control-label(for='textArea') Description
                .col-lg-10
                    textarea#textArea.form-control(rows='3' name="description" placeholder='give a small description of your film')
                    span.help-block
                        | 256 Characters Left
            .form-group
                label.col-lg-2.control-label(for='select') Content Rating
                .col-lg-10
                    select#select.form-control(name="rating")
                        option A
                        option B
                        option C
                        option F
            .form-group
                .col-lg-10.col-lg-offset-2
                    button.btn.btn-primary(type='submit') Submit
                    button.btn.btn-default(type='reset') Cancel
            input(type="hidden" name="saved" value="0")