.container
    .row
        .col-md-4
          .well.well-sm
            .media
              a.thumbnail.pull-left(href='#')
                img.media-object(src='http://critterapp.pagodabox.com/img/user.jpg')
              |                     
              .media-body
                h4.media-heading First Last Name
                |                 &#x9;&#x9;
                p
                  span.label.label-info 888 photos
                  |  
                  span.label.label-warning 150 followers
                |                         
                p
                  a.btn.btn-xs.btn-default(href='#')
                    span.glyphicon.glyphicon-comment
                    |  Message
                  |                             
                  a.btn.btn-xs.btn-default(href='#')
                    span.glyphicon.glyphicon-heart
                    |  Favorite
                  |                             
                  a.btn.btn-xs.btn-default(href='#')
                    span.glyphicon.glyphicon-ban-circle
                    |  Unfollow
