.row
    //left column
    .col-md-3
      - if(status == 0) {
        .text-center
          img.avatar.img-circle(src='/images/filmer_icon.png', alt='avatar')
          |           
          h6 Upload personal icon....coming soon
          //- |           
          //- |           
          //- input.form-control(type='file')
      - }
    // edit form column
    .col-md-9.personal-info
      .alert.alert-info.alert-dismissable
        a.panel-close.close(data-dismiss='alert') &times;
        |  
        |           
        i.fa.fa-coffee
        |           This is an 
        strong .alert
        | . Use this to show important messages to the user.
      |         
      h3 Personal info
      |         
      |         
      form.form-horizontal(role='form')
        .form-group
          label.col-lg-3.control-label First name:
          |             
          .col-lg-8
            input.form-control(value=first, type='text')
        |           
        .form-group
          label.col-lg-3.control-label Last name:
          |             
          .col-lg-8
            input.form-control(value=last, type='text')
        |           
        .form-group
          label.col-lg-3.control-label Email:
          |             
          .col-lg-8
            input.form-control(value=email, type='text') 
        |           
        .form-group
          label.col-md-3.control-label Username:
          |             
          .col-md-8
            - var s = user
            input.form-control(value=s, type='text')
        |           
        |   
        .form-group
          label.col-md-3.control-label Facebook Page URL:
          |     
          .col-md-8
            .input-group
              .input-group-addon http://facebook.com/
              |       
              input.form-control(type='text', placeholder='your name')
        |             
        .form-group
          label.col-md-3.control-label Twitter Account URL:
          |     
          .col-md-8
            .input-group
              .input-group-addon http://twitter.com/
              |       
              input.form-control(type='text', placeholder='your name')
        |           
        |           
        .form-group
          label.col-md-3.control-label
          |             
          .col-md-8
            input.btn.btn-primary(value='Save Changes', type='button')
            |               
            span
            |               
            input.btn.btn-default(value='Cancel', type='reset')
        |           
        |       
        |    
        hr
