a {
  color: #00B7FF;
}

html, body {
	height: 100%;
}

body {
	padding-top: 50px;
	padding-bottom: 0px;
	background-color: black;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}

.header, h1, h2 {
	margin-left: 10px;
	color: white;
	font-size: 2.15em;
	text-shadow: 1px 1px 1px #393939;
	font-weight: normal;
	font-family: Arial,sans-serif;
}
#page {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -3em;
}

.page-wrap:after {
	content: "";
	display: block;
}

.footer, .push {
	height: 3em;
}

.error_message {
	color: #D8000C;
	background-color: #FFBABA;
	border: 2px solid;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 50%;
}
.error_header {
	font-weight: bold;
	display: inline;
}

.page-wrap:after{
	height: 25px;
}

.footer {
	background-color: #4C4C4C;
	margin: auto;
	width: 100%;
	text-align: center;
	display: table;
	#position: relative; 
	overflow: hidden;
}

.subfooter{
	text-align: center;
	background-color: #4C4C4C;
	#position: absolute;
	#top: 50%;
	display: table-cell;
	vertical-align: middle;
}
.footer_content{
	#position: relative;
	#top: -50%;
	color: white;
}

.footer a {
	font-weight: bold;
}

.brightness {
	opacity: 0.8;
}

.brightness:hover {
	opacity: 1;
}

.form_in {
	margin-left: 20px;
	color:white;	
}
.form_in input{
	color:black;
}
#loginbtns li{
	margin-left: 8px;
	margin-right: 8px;
}